@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin icon-set($name, $width, $height, $color) {
  width: $width;
  height: $height;
  mask-image: url('@/assets/images/map/#{$name}.svg');
  background-color: $color;
}

.icon {
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
