@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;

.header {
  position: relative;
  height: 80px;
  z-index: 10;
}
.header-container{
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--padding-horizontal);
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 0 38px;
  height: 100%;
}

.header-l{
  height: 100%;
  display: flex;
  align-items: center;
  .logo{
    width: 200px;
    height: 48px;
    font-size: 0;
    a{
      display: block;
      width: 100%;
      height: 100%;
      background-image: url('@/assets/images/common/logo.png');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

.header-r{
  height: 100%;
  display: flex;
  align-items: center;
}
#nav{
  padding-right: 95px;
}
#gnb{
  display: flex;
  
}
.gnb-lv-1{
  //position: relative;
  
  &:hover{
    .gnb-lv-1-item{
      color: #256EF4;
      &::after{
        visibility: visible;
        opacity: 1;
        transition-duration: 0.3s;
      }
    }
    .gnb-dropmenu{
      display: flex;
    }
  }
}
.gnb-lv-1-item{
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  font-size: 19px;
  font-weight: 700;
  color: #464C53;
  padding: 0 35px;
  height: 80px;
  transition: all 0.3s ease;
  position: relative;
  &.before-none{
    &::before{
      display: none;
    }
  }
  &::before{
    content: '/';
    color: #CDD1D5;
    font-size: 19px;
    font-weight: 300;
    line-height: 150%; /* 28.5px */
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  &::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width:38px;
    height: 13px;
    background: url('@/assets/images/common/panel_pointer.png') no-repeat 0 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0s ease;
  }
 
}
.gnb-dropmenu{
  position: absolute;
  display: none;
  gap: 10px;
  border: 2px solid var(--primary-color);
  left: 0;
  top: 68px;
  width: 1200px;
  min-height: 243px;
  border-radius: 20px;
  background: #fff;
  padding: 40px 60px 0 60px;
  padding-bottom: 40px;
  //transition: all 0.3s ease;
  &.gnb-dropmenu-1{
    background:#fff url('@/assets/images/common/gnb-bg1.png') no-repeat center center;
  }
  &.gnb-dropmenu-2{
    background:#fff url('@/assets/images/common/gnb-bg2.png') no-repeat center center;
    
  }
  &.gnb-dropmenu-3{
    background:#fff url('@/assets/images/common/gnb-bg3.png') no-repeat center center;
    
  }
  &.gnb-dropmenu-4{
    background:#fff url('@/assets/images/common/gnb-bg4.png') no-repeat center center;
  }
  ul{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 24px;
  }
  .gnb-dropmenu-info{
    width: 252px;
    flex-shrink: 0;
    h3{
      font-size: 36px;
      color: #003964;
      padding-bottom: 15px;
    }
    p{
      font-size: 19px;
      color: #003964;
      line-height: 150%;
    }
  }
}
.gnb-lv-2-item{
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-height: 163px;
  border-radius: 12px;
  border: 1px solid #b1b8be;
  padding: 20px;
  background-color: #fff;
  .tit{
    font-size: 19px;
    color: #464C53;
    font-weight: 700;
  }
  .desc{
    font-size: 15px;
    color: #000;
  }
  .icon-arrow{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #CDD1D5;
    transition: all 0.3s ease;
    align-self: flex-end;
    flex-shrink: 0;
    &::after{
      content: '';
      display: block;
      width: 22px;
      height: 12px;
      -webkit-mask-image: url('@/assets/images/common/btn-shortcut.svg');
      -webkit-mask-size: contain;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center center;
      transition: all 0.3s ease;
      background-color: #464C53;
      transition: all 0.3s ease;
      transform: rotate(0deg);
    }

  }
  &:hover{
    border-color: #256EF4;
    .tit{
      color: #256EF4;
    }
    .icon-arrow{
      background-color: #ECF2FE;
      border-color: #256EF4;
      &::after{background-color: #256EF4; transform: rotate(-45deg);}
    }
  }
}

.btn-allmenu{
  width: 32px;
  height: 32px;
  font-size: 0;
  background: url('@/assets/images/common/icon-allmenu.png') no-repeat center center;
}

#mobile-nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  .gnb-wrap{
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .gnb-header{
    padding: 16px;
    text-align: right;
    border-bottom: 3px solid #CDD1D5;
  }
  .gnb-menu{
    scroll-behavior: auto;
    display: flex;
    align-items: normal;
    justify-content: flex-start;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
  }
  .gnb-menu-list{
    padding: 16px;
    border-bottom: 3px solid #CDD1D5;
    .gnb-sub-title{
      font-size: 19px;
      color: #003964;
      font-weight: 700;
      padding-bottom: 16px;
      border-bottom: 1px solid #eee;
    }
    ul{
      padding: 0.8rem 0;
      li{
        line-height: 1.5;
        a{
          font-size: 17px;
          color: #464C53;
          transition: all 0.3s ease;
          padding: 1.2rem 0;
          display: block;
        }
      }
    }
  }
}


@media (max-width: 1200px) {
  .gnb-lv-1-item{
    padding: 0 15px;
    font-size: 17px;
  }
  .gnb-dropmenu{
    width: calc(100vw - 28px);
    left: 14px;
  }
}

@media (max-width: 900px) {
  .header-container{
    padding: 0 var(--krds-padding-6);
  }
  .header-l .logo{
    width: 150px;
  }
  #nav{
    display: none;
  }
  #mobile-nav{
    
  }
}

@media (max-width: 768px) {
  #krds-masthead .toggle-head .nuri-txt{
    font-size: 12px;
  }
}
