<div class="aside">
    <h1 class="map-logo"><a href="#">K-OCEAN</a></h1>
    <ul class="menu-list">
      <li class="menu-item-1"><button><i></i><span>해양정보</span></button></li>
      <li class="menu-item-4"><button><i></i><span>정보분석</span></button></li>
      <li class="menu-item-2"><button><i></i><span>분석</span></button></li>
      <li class="menu-item-3"><button><i></i><span>재난안전</span></button></li>
      <li class="menu-item-5"><button><i></i><span>항행통보</span></button></li>
      <li class="menu-item-6"><button><i></i><span>해양기본도</span></button></li>
    </ul>

    <aside class="aside-utils">
      <div><a href="#" class="en" target="_balnk">EN</a></div>
      <div>
        <button type="button" title="전체 메뉴 열림" id="btnMenuOpen">
          <i></i>
        </button>
      </div>
    </aside>

  </div>